*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body{
    background-color: #222222;
}

.navbar{
    background: rgba(0, 0, 0, 1);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar.transparent{
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: rgb(255, 255, 255);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
}

.navbar__btn i{
    margin-right: 5px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 14px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: none;
    background: rgba(0, 140, 140, 0);
    color: rgb(255, 255, 255);
}

.button:hover{
    background: rgb(200, 100, 0);
    transition: all 0.5s ease;
}

.navbar__links:hover{
    color:rgb(255, 255, 255);
    transition: all 0.5s, ease;
}

.navbar__links i {
    margin-right: 5px;
}

/* Project Base */
.project{
    width: 100%; /* Bounds for project area */
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Title*/
.project__title{
    margin-top: 10px;
}

/*Background square*/
.project__background{
    width: 60%; /* Width of the rectangle */
    min-width: 300px;
    min-height: 300px; /* Height of the rectangle */
    background-color: #0e3752; /* Rectangle background color */
    border-radius: 20px; /* Border radius for curved edges */
    text-align: center;
    color: #fff; /* Text color */
    font-size: 24px;
    margin-top: 20px; /* Add space between nav bar and project box*/
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Video wrapper*/
.video__wrapper{
    min-width: 50%;
}

.video__wrapper video{
    border-radius: 20px;
}

/*Info text*/
.dropdown{
    width:100%;
    height:auto;
    padding-top: 5px;
    border-radius: 5px;
}

.dropdown__button{
    background-color: #063600;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.7s, transform 0.7s;
}

.dropdown__button:hover{
    background-color: #189a0a;
    transform: scale(1.1);
}

.dropdown__content{
    overflow: hidden;
    border: 1px;
    border-radius: 5px;
    transition: max-height 0.3s ease-in-out, background-color 0.3s ease-in-out;
    max-height: 0;
}

.dropdown__text{
    padding: 10px;
}

.dropdown__text__2{
    padding: 10px;
    font-size: 1rem;
}

.dropdown.active .dropdown__content {
    max-height:100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.inner-dropdown .dropdown-content {
    overflow: hidden;
    border: 1px;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
}

.inner-dropdown.active .dropdown-content {
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
}

/*code segments*/
.dropdown__codeblock{
    max-height: 300px; /* Set your preferred maximum height */
    max-width: 100%;
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding: 1em;
    border-radius: 5px;
}

.dropdown__codeblock pre{
    white-space: pre-wrap;
    margin: 0;
    line-height: 1.5;
}

.dropdown__codeblock code.language-csharp{
    font-family: 'Courier New', monospace;
    font-size: 14px;
    text-align: left;
    display: block;
    font-weight: normal;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 50px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active{
        background: rgba(0, 0, 0, 0.6);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 90vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 4px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(255, 255, 255);
    }

    .navbar__toggle .back{
        width: 30px;
        height: 30px;
        transform: translateY(-35px);
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgba(255, 255, 255, 0);
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: -10%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }   

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    .navbar__toggle .back{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
}

.project h1{
    text-align: center;
    font-size: 6rem;
    font-weight: 100;
    color: #f7f7f7;
}

.project p{
    text-align: center;
    font-size: 1.2rem;
    color: #f7f7f7;
}

.project a{
    color: #f7f7f7;
}

.dropdown__button{
    text-align: center;
    font-size: 1.5rem;
    color: #f7f7f7;
}

.dropdown__content{
    text-align: center;
    font-size: 1.2rem;
    color: #f7f7f7;
}