*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.main__content a,
.secondary a,
.tertiary a {
    text-decoration: none;
}

.navbar{
    background: rgba(0, 0, 0, 1);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar.transparent{
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: rgb(255, 255, 255);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
}

.navbar__btn i{
    margin-right: 5px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 14px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: none;
    background: rgba(0, 140, 140, 0);
    color: rgb(255, 255, 255);
}

.red:hover{
    background: rgb(199, 0, 0);
    transition: all 0.5s ease;
}
.blue:hover{
    background: rgb(0, 74, 185);
    transition: all 0.5s ease;
}
.green:hover{
    background: rgb(23, 138, 0);
    transition: all 0.5s ease;
}
.yellow:hover{
    background: rgb(196, 183, 0);
    transition: all 0.5s ease;
}
.orange:hover{
    background: rgb(200, 100, 0);
    transition: all 0.5s ease;
}

.navbar__links:hover{
    color:rgb(255, 255, 255);
    transition: all 0.5s, ease;
}

.navbar__links i {
    margin-right: 5px;
}

/*Video Section*/
.video__wrapper {
    position: relative;
    padding-bottom: 34.25%;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0px;
}

.video__content video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*About Me Section*/
.main{
    background-color: #0e5210;
}

.main__container{
    display: grid;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    margin-top: -50px;
    height: 70vh;
    background-color: #0e5210;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    min-height: 525px;
    padding: 0 50px;
}

/*Projects Section*/

.secondary{
    background-color: #222222;
}

.secondary__title{
    display: grid;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    margin-top: -50px;
    height: 15vh;
    background-color: #131313;
    z-index: 1;
    width: 100%;
    min-height: 125px;
    padding: 0 50px;
}

.secondary__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #222222;
}

.project__selections{
    margin: 50px;
    padding: 5px;
    background-color: #6b6b6b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.7s, transform 0.7s;
}

.secondary__image{
    overflow: hidden; /* Hide overflow for curved edges */
    border-radius: 10px; /* Curve image edges */
}

.secondary__image img {
    width: 100%;
    height: auto;
    display: block;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag div {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}

.project__selections:hover{
    background-color: #e2e2e2;
    transform: scale(1.1); /* Increase size on hover */
}

/*Contact Me Section*/

.tertiary{
    background-color: #131313;
}

.tertiary__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #131313;
    min-height: 100px;
}

.tertiary__title{
    padding: 5px;
}

@media screen and (max-width: 1000px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 50px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active{
        background: rgba(0, 0, 0, 0.6);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 90vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 4px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(255, 255, 255);
    }

    .navbar__toggle .back{
        width: 30px;
        height: 30px;
        transform: translateY(-35px);
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgba(255, 255, 255, 0);
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: -10%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }   

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    .navbar__toggle .back{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }

    .video__wrapper {
        position: relative;
        padding-bottom: 34.25%;
        overflow: hidden;
        width: 100%;
        margin-bottom: 0px;
    }

    .main__container{
        display: grid;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 90vh;
        background-color: #0e5210;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        min-height: 575px;
        padding: 0 50px;
    }

    .secondary__title{
        min-height: 125px;
    }

    .project__selections{
        transform: scale(0.8);
        margin: 0px;
    }

    .project__selections:hover{
        background-color: #e2e2e2;
        transform: scale(0.9); /* Increase size on hover */
    }
}

.main__content h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
    background-color: #f7f7f7;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p{
    margin-top: 1rem;
    font-family:'Quicksand',sans-serif;
    font-size: 1rem;
    font-weight: 510;
    background-color: #f7f7f7;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.secondary h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
    background-color: #f7f7f7;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.secondary h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    background-color: #f7f7f7;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.secondary p{
    text-align: center;
    font-family:'Quicksand',sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 10px;
    background-color: #d8d8d8;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.secondary sub{
    text-align: center;
    font-family:'Quicksand',sans-serif;
    font-size: 1rem;
    font-weight: 550;
    margin: 10px;
    background-color: #d8d8d8;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.tertiary h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    background-color: #f7f7f7;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.tertiary h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    background-color: #f7f7f7;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.tertiary p{
    text-align: center;
    font-family:'Quicksand',sans-serif;
    font-size: 1rem;
    font-weight: 550;
    margin: 10px;
    background-color: #d8d8d8;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
